@model RotatingBendingTestBench.Models.TestSimulator

<h2>Results for @Model.Name</h2>
<p>Test completed. Results will be displayed here.</p>
<ul>
    <li>Data: @Model.Data.Count</li>
    <li>Results: @Model.Results.Count data points</li>
</ul>
<a> asp-action="Index" class="btn btn-secondary">Back to Test Setup</a>
